body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

#protohead {
	/* height: 100vh; */
	display: flex;
}

#protohead > div {
	flex: 1;
	text-align: center;
}

#protohead h3 {
	color: #323335;
	font-size: 24px;
	font-weight: 600;
}

#prototype {
	height: 80vh;
	display: flex;
}

#prototype > div {
	flex: 1;
}
